/* Start Global Rules */

body {  
    /*font-family: 'Courgette', cursive;*/
}

/* Start Navbar */

.scrolled {
    background-color: rgba(0, 0, 0, .8);
}

/* End Navbar */

/* Start Header */
.header {
    background: url('../images/header.jpg') no-repeat top center;
    -webkit-background-size : cover;
    -moz-background-size : cover;
    -o-background-size : cover;
    background-size : cover;
    height: 100vh;
    position: relative;
    color: #fff ;
    overflow: hidden;
}

@media (max-width: 991px) {
    .header {
        height: 120vh;
    }
}
.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.header .centering-vh {
    margin-top: 25vh;
}

@media (max-width: 991px) {
    .header .centering-vh {
        margin-top: 60px;
    }
}


.header h1 {
    font-weight: bold;
    font-size: 50px;
}

@media (max-width: 991px) {
    .header h1 {
      text-align: center;
    }
}

.header h1 span {
    font-weight: normal;
    color: #ff8b38;
}

.header h1 ~ .lead {
    font-size: 29px;
}

@media (max-width: 991px) {
    .header h1 ~ .lead {
       text-align: center;
    }    
}

.header h1 ~ .lead:after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: #FFF;
    margin: 25px 0;
}

@media (max-width: 991px) {
    .header h1 ~ .lead:after {
        margin: 25px auto;
    }
}

.header .def {
    font-family: 'Courgette', cursive;
}

@media (max-width: 991px) {
    .header .def {
        text-align: center;
    }  
}


.header button {
    background:  transparent;
    padding: 5px 15px;
    border: 2px solid #FFF;
    margin-top: 20px;
}

@media (max-width: 991px) {
    .header button {
        display: block;
        margin: 20px auto;
    }
}

.header form {
    width: 290px;
    background-color: #FFF;
    border-radius: 5px;
    overflow: hidden;
}

@media (max-width: 991px) {
    .header form {
        margin-top: 40px !important;
    }
}

.header form h2 {
    background-color: #f5f5f5;
    color: #333;
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}

.header form h2 span {
    color: #ff8b38;
}

.header form .form-control {
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: 0 auto 40px;
}

.header form input[type="submit"] {
    background-color: #ff8b38;
    padding: 15px;
    font-size: 18px;
    border-radius: 0;
}
/* End Header */

/* Start Social Media  */
.social-section  {
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: -2px -5px 13px #000;
    -moz-box-shadow: -2px -5px 13px #000;
    -o-box-shadow: -2px -5px 13px #000;
    box-shadow: -2px -5px 13px #000;
}

@media (max-width: 991px) {
    .social-section{
        text-align: center;
    }
}

.social-section h4 {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'DM Serif Text', serif;
}

@media (max-width: 991px) {
    .social-section h4 {
       margin-bottom: 10px;
    }
}
.social-section p {
    color: #a1a1a1;
    line-height: 1.4;
    font-family: 'Courgette', cursive;
}

.social-section i {
    color: #ccc;
    margin: 20px 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

@media (max-width: 991px) {
    .social-section i {
        margin: 10px 15px;
    }
}

.social-section .fa-facebook:hover {
    color: #3b5998;
}

.social-section .fa-twitter:hover {
    color: #1da1f2;
}

.social-section .fa-google-plus:hover {
    color: #dd4b39;
}

.social-section .fa-pinterest:hover {
    color: #bd081c;
}

.social-section .fa-instagram:hover {
    color: #833ab4;
}

.social-section .fa-stumbleupon:hover {
    color: #eb4924;
}

.social-section .fa-rss:hover {
    color: #f26522;
}

.social-section .fa-whatsapp:hover {
    color: #128c7e;
}
/* Start Social Media  */

/* Start Tabs Section */
.tabs-section {
    padding: 80px 0;
    background-color: #f5f5f5;
}

@media (max-width: 991px) {
    .tabs-section {
        text-align: center;
    }
}

.tabs-section .tab-switch li {
    background-color: #333;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    height: 110px;
    line-height: 110px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'DM Serif Text', serif;
}

.tabs-section .tab-switch li.selected ,
.tabs-section .tab-switch li:hover {
    background-color: #ff8b38;
}

.tabs-section .tabs-content div:not(.tab-one) {
    display: none;
}
.tabs-section .tabs-content h3 {
    margin-top: 0;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 20px;
    font-family: 'DM Serif Text', serif;
}

@media (max-width: 991px) {
    .tabs-section .tabs-content h3 {
        margin: 30px 0 20px;
    }
}

.tabs-section .tabs-content .lead {
    line-height: 1.6;
    font-size: 18px;
    color: #7e7e7e;
    font-family: 'Courgette', cursive;
}

.tabs-section .tabs-content button {
    background-color: #ff8b38;
    color: #fff;
}

.tabs-section .img-rsponsive {
    width: 100%;
    margin-top: 40px;
}
/* End Tabs Section */

/* Start Sublist Section */
.sublist {
    padding: 80px 0;
}

@media (max-width: 991px) {
    .sublist {
        text-align: center;
        padding: 40px;
    }
}
.sublist .sub-img {
    width: 100%;
    margin-top: 50px;
}

.sublist .sublis-head {
    font-weight: bold;
    font-family: 'DM Serif Text', serif;
}

.sublist .sublist-desc {
    color: #777;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: 'Courgette', cursive;
}

.sublist .list-icon {
    margin-bottom: 30px;
    overflow: hidden;
}
.sublist .list-icon i {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
}

@media (max-width: 991px) {
    .sublist .list-icon i {
        float: none !important;
        margin: 10px 0;
    }
}
.sublist .list-icon .text-info {
    width: calc(100% - 70px);
}

@media (max-width: 991px) {
    .sublist .list-icon .text-info {
        float: none !important;
        width: 100%;
    }
}

.sublist .list-icon .text-info p {
    font-family: 'Courgette', cursive;
}
.sublist .list-icon .text-info h4 {
    font-weight: bold;
}
/* End Sublist Section */

/* Start Standard Picture */
.standard-picture {
    padding: 80px 0;
    background-color: #e3e9f3;
}

@media (max-width: 991px) {
    .standard-picture {
        text-align: center;
        padding: 40px;
    }
}
.standard-picture .standar-img {
    width: 100%;
   
}

.standard-picture .standar-head {
    font-weight: bold;
    margin-top: 50px;
    font-family: 'DM Serif Text', serif;
}

.standard-picture .standar-desc {
    color: #777;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: 'Courgette', cursive;
}
/* End Standard Picture*/
/* Start This Is Awesome */
.awesome {
    padding: 80px 0;
}

.awesome .awesome-head {
    font-weight: bold;
    font-size: 40px;
    font-family: 'DM Serif Text', serif;
}

.awesome .awesome-desc {
    margin-bottom: 50px;
    color: #a9aaac;
    font-family: 'Courgette', cursive;
}

@media (max-width: 991px) {
    .awesome .feat-box {
       margin-bottom: 40px;
    }
}

.awesome i {
    color: #ff8b38;
    width: 70px;
    height: 70px;
    line-height: 68px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
}

.awesome .fa-keyboard-o {
    font-size: 34px;
}

.awesome .feat-head {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.awesome .feat-info {
    color: #a9aaac;
    font-family: 'Courgette', cursive;
}
/* End This Is Awesome */

/* Start Price Section */

.price-option {
    padding: 80px 0;
    background-color: #e3e9f3;
}

@media (max-width: 991px) {
    .price-option {
       padding: 40px;
    }
}
.price-option .price-head {
    font-size: 40px;
    font-family: 'DM Serif Text', serif;
}

.price-option  .price-desc {
    margin-bottom: 50px;
    color: #a9aaac;
    font-family: 'Courgette', cursive;
}

@media (max-width: 991px) {
    .price-option  .price-desc{
       margin-bottom: 10px;
    }
}
.price-option  .price-box {
    background-color: #FFF;
}

@media (max-width: 991px) {
    .price-option  .price-box {
       margin-bottom: 40px;
    }
}
.price-option  .price-box .plan-head{
    background-color: #333;
    color: #FFF;
    padding: 15px 0;
    margin: 0;
    font-weight: bold;
    border-bottom: 1px solid #FFF;
}

.price-option  .price-box .option-price {
    background-color: #333;
    padding: 10px 00 20px;
}


.price-option .option-price .price {
    font-size: 70px;
    color: #FFF;
    display: block;
    font-weight: bold;
}

.price-option .option-price .price .usd {
    font-size: 30px;
}

.price-option .option-price .period {
    color: #adadad;
    font-weight: bold;
    font-style: italic;
}

.price-option .option-price {
    border-bottom: 5px solid #ff8b38;
}

.price-option .configuration li {
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
    color: #8c8c8c;
}

.price-option .most-pop {
    background-color: #ff8b38;
    color: #FFF;
    padding: 5px 10px 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.price-option  .basic,
.price-option  .enterprise {
    margin-top: 35px;
}

/* End Price Section */

/* Start Testmonials */
.testmonials {
    padding: 80px 0;
}

@media (max-width: 991px) {
    .testmonials {
       padding: 40px 0;
    }
}

.testmonials .tes-head {
    font-family: 'DM Serif Text', serif;
}
.testmonials .tes-desc {
    margin-bottom: 40px;
    font-family: 'Courgette', cursive;
}

.testmonials .client-say {
    background-color: #e3e9f3;
    color: #8e8f93;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
    font-family: 'Courgette', cursive;
}

.testmonials .client-say:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px;
    border-color: #e3e9f3  transparent transparent;
    position: absolute;
    left: 38px;
    bottom: -28px;
}

.testmonials .media-left .media-object {
    border-radius: 50%;
    width: 100px;
}

@media (max-width: 991px) {
    .testmonials .media {
       margin-bottom: 30px;
    }
}

.testmonials .media-heading {
    font-weight: bold;
    margin-top: 43px;
}

.testmonials .media-body p {
    color: #a9a9a9;
    font-family: 'Courgette', cursive;
}
/* End Testmonials */
/* Start Stylish */

.stylish {
    background: url('../images/stylish.jpg') no-repeat top center;
    -webkit-background-size : cover;
    -moz-background-size : cover;
    -o-background-size : cover;
    background-size : cover;
    position: relative;
    color: #fff ;
    min-height: 320px;
}


.stylish .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding: 60px 0;
}

@media (max-width: 991px) {
    .stylish .overlay {
        padding: 30px 0;
    }
}

.stylish h2 {
    font-family: 'DM Serif Text', serif;
}
.stylish .stylis-desc {
    color: #a9aaac;
    font-family: 'Courgette', cursive;
}
.stylish .stylish-btn {
    margin:  30px auto;
    display: block;
    padding: 8px 20px;
    border: 2px solid #fff;
    background: transparent;
} 

.stylish .head-border-center:after {
    background-color: #fff;
}

/* End  Stylish */

/* Start Contact Us */

.contact-us {
    padding: 80px 0;

}

@media (max-width: 991px) {
    .contact-us {
        padding: 40px 0;
    }
}

.contact-us  .contact-head {
    font-family: 'DM Serif Text', serif;
}
.contact-us  .contact-desc {
    color: #a9aaac;
    font-family: 'Courgette', cursive;
    margin-bottom: 40px;
}

.contact-us form input[type="text"],
.contact-us form input[type="email"] {
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    border-radius: none;
    border-bottom: 1px solid #e0e0e0;
}

.contact-us form textarea {
    height: 178px;
    border: none;
    box-shadow: none;
    border-radius: none;
    border-bottom: 1px solid #e0e0e0;
}
.contact-us .contact-btn {
    margin:  30px auto;
    display: block;
    padding: 8px 20px;
    border: 2px solid #fff;
    background: #ff8b38;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
} 

/* Start Contact Us */

/* Start Footer */
.footer {
    background-color: #000;
    color: #EEE;
    padding: 10px;
    font-size: 18px;
}

.footer p {
    font-family: 'Courgette', cursive;
    margin-top: 10px;
    margin-bottom: 0;
}
/* End Footer */


/* Start Framework */
.uppercase {
    text-transform: uppercase;
}

.head-border:after {
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    background-color: #ff8b38;
    margin: 25px 0;
}

@media (max-width: 991px) {
    .head-border:after {
        margin: 25px auto;
    }
}

.head-border-center:after {
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    background-color: #ff8b38;
    margin: 25px auto;
}

@media (max-width: 767px) {
    .text-center-xs {
        text-align: center;
    }
}
/* End Framework */